*{
    background-color: aqua;
    text-align: center;
}

h1{
    color: red;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
}

.main{
    padding: 50px;
    font-size: 100px;
}

img{
    width: 70%;
}